<div>
    <h1>Products:</h1>


    {{#each products}}
        <div>
            <h2>{{this.title}} {{this.description}} {{this.code}} Stock: {{this.stock}} Id: {{this.id}}</h2>
        </div>
    {{/each}}

</div>


<script src="/js/products.js"></script>